<footer>
    <section id="social_module">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <ul>
                        <li><a href="#" target="_blank"><i class="icon fa fa-facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i class="icon fa fa-linkedin"></i></a></li>
                        <li><a href="#" target="_blank"><i class="icon fa fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="icon fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-4 centered">
                <img alt="salex" src="~/Media/logo_footer.png">
            </div>
            <div class="col-md-6 col-xs-4">
                <p class="copyright text-right center">
                    <a href="#">Home</a> | <a href="#">About</a> | <a href="#">Privacy Policy</a>
                </p>
                <p class="copyright text-right center">© 2015 Salex</p>
            </div>
        </div>
    </div>
</footer>