@*@{
        ViewBag.Title = "Content Page";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }*@

<div id="navigationbar" class="navbar-wrapper">
    <div id="navigation" class="navbar">
        <div class="navbar-inner">
            <button class="btn btn-navbar collapse" data-target=".nav-collapse" data-toggle="collapse" type="button">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand brand-circle navbar-brand" href="#">
                @*<img src="~/Media/logo_small.png" alt="salex" />*@
            </a>
            <div class="nav-collapse">
                <ul class="nav pull-right">
                    <li><a class="selected" href="#home">Home</a></li>
                    <li><a class="" href="#portfolio">Portfolio</a></li>
                    <li><a class="" href="#services">Services</a></li>
                    <li><a class="" href="#about">Who We Are</a></li>
                    <li><a class="" href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
    
@*<nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="~/Media/logo_small.png" alt="salex" />
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="selected" href="~/Views/Home/Index.cshtml">Home</a></li>
                    <li><a href="~/Views/Services/Services.cshtml">Portfolio</a></li>
                    <li><a href="~/Views/portfolio/portfolio.cshtml">Services</a></li>
                    <li><a href="~/Views/portfolio/About.cshtml">Who We Are</a></li>
                    <li><a href="~/Views/portfolio/Contact.cshtml">Contact</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>*@