<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 centered">
                <h2>portfolio</h2>
                <div class="breaker">
                    <span class="left"></span>
                    <div class="feather"></div>
                    <span class="right"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12 centered">
                <p class="subtittle">Content Information goes here. See us at <a href="https://www.google.com">salex</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-xs-1">
                <div class="project">
                    <img class="project img" src="~/Media/1.png" />
                    <a class="fancybox-media" rel="portfolio" href="~/Media/1big.png" data-title-id="title-01">
                        <span class="overlay"></span>
                        <div class="cnt"></div>
                    </a>
                    <div id="title-01" class="info hidden">
                        <h2>Project Details</h2>
                        <div class="fancybody">Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem <a href="#">lacinia quam</a> venenatis vestibulum. Maecenas sed diam eget risus varius.</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-1">
                <div class="project">
                    <img class="project img" src="~/Media/2.png" />
                    <a class="fancybox-media" rel="portfolio" href="~/Media/2big.png" data-title-id="title-01">
                        <span class="overlay"></span>
                        <div class="cnt"></div>
                    </a>
                    <div id="title-01" class="info hidden">
                        <h2>Project Details</h2>
                        <div class="fancybody">Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem <a href="#">lacinia quam</a> venenatis vestibulum. Maecenas sed diam eget risus varius.</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-1">
                <div class="project">
                    <img class="project img" src="~/Media/3.png" />
                    <a class="fancybox-media" rel="portfolio" href="~/Media/3big.png" data-title-id="title-01">
                        <span class="overlay"></span>
                        <div class="cnt"></div>
                    </a>
                    <div id="title-01" class="info hidden">
                        <h2>Project Details</h2>
                        <div class="fancybody">Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem <a href="#">lacinia quam</a> venenatis vestibulum. Maecenas sed diam eget risus varius.</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-1">
                <div class="project">
                    <img class="project img" src="~/Media/4.png" />
                    <a class="fancybox-media" rel="portfolio" href="~/Media/4big.png" data-title-id="title-01">
                        <span class="overlay"></span>
                        <div class="cnt"></div>
                    </a>
                    <div id="title-01" class="info hidden">
                        <h2>Project Details</h2>
                        <div class="fancybody">Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem <a href="#">lacinia quam</a> venenatis vestibulum. Maecenas sed diam eget risus varius.</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-1">
                <div class="project">
                    <img class="project img" src="~/Media/5.jpg" />
                    <a class="fancybox-media" rel="portfolio" href="~/Media/5.jpg" data-title-id="title-01">
                        <span class="overlay"></span>
                        <div class="cnt"></div>
                    </a>
                    <div id="title-01" class="info hidden">
                        <h2>Project Details</h2>
                        <div class="fancybody">Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem <a href="#">lacinia quam</a> venenatis vestibulum. Maecenas sed diam eget risus varius.</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-1">
                <div class="project">
                    <img class="project img" src="~/Media/6.jpg" />
                    <a class="fancybox-media" rel="portfolio" href="~/Media/6.jpg" data-title-id="title-01">
                        <span class="overlay"></span>
                        <div class="cnt"></div>
                    </a>
                    <div id="title-01" class="info hidden">
                        <h2>Project Details</h2>
                        <div class="fancybody">Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem <a href="#">lacinia quam</a> venenatis vestibulum. Maecenas sed diam eget risus varius.</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-1">
                <div class="project">
                    <img class="project img" src="~/Media/7.jpg" />
                    <a class="fancybox-media" rel="portfolio" href="~/Media/7.jpg" data-title-id="title-01">
                        <span class="overlay"></span>
                        <div class="cnt"></div>
                    </a>
                    <div id="title-01" class="info hidden">
                        <h2>Project Details</h2>
                        <div class="fancybody">Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem <a href="#">lacinia quam</a> venenatis vestibulum. Maecenas sed diam eget risus varius.</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-1">
                <div class="project">
                    <img class="project img" src="~/Media/8.jpg" />
                    <a class="fancybox-media" rel="portfolio" href="~/Media/8.jpg" data-title-id="title-01">
                        <span class="overlay"></span>
                        <div class="cnt"></div>
                    </a>
                    <div id="title-01" class="info hidden">
                        <h2>Project Details</h2>
                        <div class="fancybody">Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem <a href="#">lacinia quam</a> venenatis vestibulum. Maecenas sed diam eget risus varius.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>