@{
    ViewBag.Title = "About";
}
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12 centered">
                <h2>who we are</h2>
                <div class="breaker">
                    <span class="left"></span>
                    <div class="feather"></div>
                    <span class="right"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12 centered">
                <p class="subtittle">
                    Veri primis delicatissimi cu eam
                    <br />
                    Iuvaret elaboraret eam id
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-xs-1">
                <div class="team">
                    <img src="~/Media/salex.jpg" alt="salex" />
                    <span class="name">Alexander Safonov</span>
                    <br />
                    <span class="position">Founder</span>
                    <br />
                    <span class="social">
                        <a class="social-network facebook" href="#"></a>
                        <a class="social-network skype" href="#"></a>
                        <a class="social-network twitter"></a>
                    </span>
                </div>
            </div>
            <div class="col-md-3 col-xs-1">
                <div class="team">
                    <img src="~/Media/girl.jpg" alt="kits" />
                    <span class="name">Tanya Kits</span>
                    <br />
                    <span class="position">Creative Director</span>
                    <br />
                    <span class="social">
                        <a class="social-network facebook" href="#"></a>
                        <a class="social-network skype" href="#"></a>
                        <a class="social-network twitter"></a>
                    </span>
                </div>
            </div>
            <div class="col-md-3 col-xs-1">
                <div class="team">
                    <img src="~/Media/racoon.jpg" alt="racoon" />
                    <span class="name">Gregor Grjiç</span>
                    <br />
                    <span class="position">Designer</span>
                    <br />
                    <span class="social">
                        <a class="social-network facebook" href="#"></a>
                        <a class="social-network skype" href="#"></a>
                        <a class="social-network twitter"></a>
                    </span>
                </div>
            </div>
            <div class="col-md-3 col-xs-1">
                <div class="team">
                    <img src="~/Media/dog.jpg" alt="Jean" />
                    <span class="name">Jean D'ugarry</span>
                    <br />
                    <span class="position">Developer</span>
                    <br />
                    <span class="social">
                        <a class="social-network facebook" href="#"></a>
                        <a class="social-network skype" href="#"></a>
                        <a class="social-network twitter"></a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>