@{
    ViewBag.Title = "Home Page";
}

@*<div class="sky">
        <div class="moon"></div>
        <div class="clouds_one"></div>
        <div class="clouds_two"></div>
        <div class="clouds_three"></div>
    </div>*@

<section id="home">
    <div class="row centered center-block">
        <h1 class="fade in">
            <img alt="MWA" src="~/Media/logo_header.png">
        </h1>
        <div class="flexslider">
            <ul class="slides">
                <li>
                    <h2>lorem ipsum</h2>
                    <h2>
                        <i class="fa fa-desktop"></i>
                        <i class="fa fa-tablet"></i>
                        <i class="fa fa-mobile-phone"></i>
                    </h2>
                </li>
                <li>
                    <h2>dolor sit amet</h2>
                </li>
                <li>
                    <h2>consectetur adipisicing elit</h2>
                </li>
            </ul>
        </div>
    </div>
    <div id="down_button" class="fade in">
        <a href="#portfolio"></a>
    </div>
    <div class="social-header">
        @*<a href="#" class="social-network sn2 behance"></a>*@
        <a href="#" class="social-network sn2 facebook" ></a>
        <a href="#" class="social-network sn2 google"></a>
        <a href="#" class="social-network sn2 twitter"></a>
        @*<a href="#" class="social-network sn2 pinterest"></a>*@
        <a href="#" class="social-network sn2 flickr"></a>
        @*<a href="#" class="social-network sn2 dribbble"></a>
        <a href="#" class="social-network sn2 lastfm"></a>
        <a href="#" class="social-network sn2 forrst"></a>
        <a href="#" class="social-network sn2 xing"></a>*@
    </div>
</section>